.content {
	font-size: 18px;
}
.t {
	font-size: 28px;
	text-align: center;
	padding: 2px 12px;
	border-radius: 5px;
	color: white;
}
.c20 {
	margin-left: 20px;
}
.st {
	font-size: 20px;
	padding: 2px 12px;
	border-radius: 5px;
	color: black;
	border: 3px solid;
}
.sst {
	font-size: 19px;
	padding: 1px 6px;
	margin-left: 10px;
	border-bottom: 2px solid;
}
.c {
	margin-left: 5px;
}
ul {
	font-size: 18px;

}
table {
	margin-bottom: 10px;
	margin-left: 20px;
}
td,tr {
	border: 1.0px solid black;
	padding: 1px 4px;
	margin-left: 20px;
}
.td {
	text-align: center;
}
.l5 {
	width: 130px;
}
.l7 {
	width: 170px;
}
.l9 {
	width: 210px;
}
.l11 {
	width: 250px;
}
.l12 {
	width: 270px;
}
.historyU1T {
	background: -webkit-linear-gradient(left top, rgb(200, 130, 90), rgb(200, 170, 90));
}
.historyU1S {
	border-color: rgb(200, 150, 90);
}
.historyU2T {
	background: -webkit-linear-gradient(left top, rgb(200, 20, 0), rgb(200, 100, 0));
}
.historyU2S {
	border-color: rgb(200, 60, 0);
}
.citizenU3T {
	background: -webkit-linear-gradient(left top, rgb(0, 0, 160), rgb(0, 0, 80));
}
.citizenU3S {
	border-color: rgb(0, 0, 120);
}
.srcString {
	position:relative;
	height: 0;
	margin-bottom: 0px;
	margin-left: 20px;
	color: white;
}
#citizenU3C1Tiangle1 {
	margin-left: 120px;
	margin-bottom: 0px;
	width: 100px;
	height: 0;
	border-style: solid;
	border-width: 0 50px 86.6px 50px;
	border-color: transparent transparent rgb(0, 0, 80) transparent;
	z-index: -1;
	position:relative;
}
#citizenU3C1Tiangle2 {
	margin-left: 70px;
	margin-bottom: 0px;
	width: 200px;
	height: 0;
	border-style: solid;
	border-width: 0 50px 86.6px 50px;
	border-color: transparent transparent rgb(0, 0, 120) transparent;
	z-index: -1;
	position:relative;
}
#citizenU3C1Tiangle3 {
	margin-left: 20px;
	width: 300px;
	height: 0;
	border-style: solid;
	border-width: 0 50px 86.6px 50px;
	border-color: transparent transparent rgb(0, 0, 160) transparent;
	z-index: -1;
	position:relative;
}
