.content {
	font-size: 18px;
}
canvas {
	margin-left: 20px;
}
.t {
	font-size: 28px;
	text-align: center;
	padding: 2px 12px;
	border-radius: 5px;
	color: white;
}
.c20 {
	margin-left: 20px;
}
.st {
	font-size: 20px;
	padding: 2px 12px;
	border-radius: 5px;
	color: black;
	border: 3px solid;
	color: rgb(30, 78, 121);
}
.sst {
	font-size: 19px;
	padding: 1px 6px;
	margin-left: 10px;
	border-bottom: 2px solid;
	color: rgb(46, 117, 181);
}
.ssst {
	font-size: 18px;
	padding: 1px 6px;
	margin-left: 20px;
	border-bottom: 2px dashed;
}
.c {
	margin-left: 5px;
}
span {
	font-size: 18px;
}
ul {
	font-size: 18px;
}
input {
	margin-left: 20px;
	margin-bottom: 10px;
}
a {
	font-size: 18px;
	border-radius: 3px;
	padding: 5px 12px;
	border: 2px solid;
	text-decoration:none;
}
.content a:hover {
	background-color: rgb(230, 230, 230);
}
table {
	margin-bottom: 10px;
	margin-left: 20px;
}
td,tr {
	border: 1.0px solid rgb(200, 200, 200);
	padding: 1px 4px;
	margin-left: 20px;
}
.td {
	text-align: center;
}
.italic {
	font-style: italic;
}
.mark1 {
	background-color: transparent;
	background-image: -webkit-linear-gradient(transparent 30%, rgb(255, 255, 50) 30%, rgb(255, 255, 50) 70%, transparent 70%);
}
.srcString {
	position:relative;
	height: 0;
	margin-bottom: 0px;
	margin-left: 20px;
	color: white;
}
.srcString2 {
	position:relative;
	height: 0;
	margin-bottom: 0px;
	margin-left: 20px;
	color: black;
	font-size: 16px;
}
img {
	background-color:transparent;
	margin-left: 20px;
}
#citizenU3C1-1 {
	margin-left: 120px;
	margin-bottom: 0px;
	width: 100px;
	height: 0;
	border-style: solid;
	border-width: 0 50px 86.6px 50px;
	border-color: transparent transparent rgb(0, 0, 80) transparent;
	z-index: -1;
	position:relative;
}
#citizenU3C1-2 {
	margin-left: 70px;
	margin-bottom: 0px;
	width: 200px;
	height: 0;
	border-style: solid;
	border-width: 0 50px 86.6px 50px;
	border-color: transparent transparent rgb(0, 0, 120) transparent;
	z-index: -1;
	position:relative;
}
#citizenU3C1-3 {
	margin-left: 20px;
	width: 300px;
	height: 0;
	border-style: solid;
	border-width: 0 50px 86.6px 50px;
	border-color: transparent transparent rgb(0, 0, 160) transparent;
	z-index: -1;
	position:relative;
}
