body {
	font-family: DFKai-sb;
	background-color: rgb(240, 240, 240);
	text-decoration:none;
}
#title {
	font-size: 48px;
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 2px 12px;
    font-size: 24px;
    border: none;
}
.subjectIndex {
	border: none;
    padding: 2px 9px;
    color: black;
    font-size: 24px;
    text-decoration:none;
}
.subjectIndex:hover {background-color: #f1f1f1}
a{
	text-decoration:none;
	color: black;
}
.subjectIndex {
	font-size: 24px;
}
.subjectIndex:hover {
	background-color: rgb(220, 220, 220);
}
.container {
	width: 100%;
}
#title {
	width: 80%;
}
span {
	font-size: 28px;
}
.unitIndex {
	font-size: 24px;
	width: 100%;
	text-align: left;
	display: block;
	background-color: rgba(0, 0, 0, 0);
	border: none;
}
.unitIndex:hover {
	background-color: rgb(220, 220, 220);
}
.chapterIndex {
	font-size: 20px;
	width: 100%;
	text-align: left;
	display: block;
	background-color: rgba(0, 0, 0, 0);
	border: none;
}
.chapterIndex:hover {
	background-color: rgb(220, 220, 220);
}