body {
	font-family: DFKai-sb;
	background-color: rgb(240, 240, 240);
	text-decoration:none;
	display:none;
}
#title {
	font-size: 52px;
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
}
.subjectIndex {
    padding: 2px 9px;
    color: black;
    font-size: 24px;
    text-decoration:none;
    border: 2px solid rgb(210, 210, 210);
    background-color: rgb(210, 210, 210);
    margin-right: -10px;
}
.subjectIndex:hover {
	background-color: rgb(190, 190, 190);
}
a{
	text-decoration:none;
	color: black;
}
.container {
	width: 100%;
}
.unitIndex {
	font-size: 24px;
	width: 100%;
	text-align: left;
	display: block;
	background-color: rgba(0, 0, 0, 0);
	border: none;
}
.unitIndex:hover {
	background-color: rgb(220, 220, 220);
}
.chapterIndex {
	font-size: 20px;
	width: 100%;
	text-align: left;
	display: block;
	background-color: rgba(0, 0, 0, 0);
	border: none;
}
.chapterIndex:hover {
	background-color: rgb(220, 220, 220);
}