.l2 {
	width: 70px;
}
.l3 {
	width: 90px;
}
.l4 {
	width: 110px;
}
.l5 {
	width: 130px;
}
.l6 {
	width: 150px;
}
.l7 {
	width: 170px;
}
.l8 {
	width: 190px;
}
.l9 {
	width: 210px;
}
.l10 {
	width: 230px;
}
.l11 {
	width: 250px;
}
.l12 {
	width: 270px;
}
.st {
	font-size: 20px;
	padding: 2px 12px;
	border-radius: 5px;
	color: black;
	border: 3px solid;
	color: rgb(30, 78, 121);
}
.sst {
	font-size: 19px;
	padding: 1px 6px;
	margin-left: 10px;
	border-bottom: 2px solid;
	color: rgb(46, 117, 181);
}
.ssst {
	font-size: 18px;
	padding: 1px 6px;
	margin-left: 20px;
	border-bottom: 2px dashed;
	color: rgb(91, 155, 213);
}
.mathT {
	background: -webkit-linear-gradient(left top, rgb(255, 120, 0), rgb(255, 200, 0));
}
.mathS {
	border-color: rgb(255, 160, 0);
}
.geographyT {
	background: -webkit-linear-gradient(left top, rgb(0, 160, 80), rgb(0, 160, 120));
}
.geographyS {
	border-color: rgb(0, 160, 100);
}
.historyT {
	background: -webkit-linear-gradient(left top, rgb(200, 20, 0), rgb(200, 100, 0));
}
.historyS {
	border-color: rgb(200, 60, 0);
}
.citizenT {
	background: -webkit-linear-gradient(left top, rgb(20, 0, 160), rgb(80, 0, 120));
}
.citizenS {
	border-color: rgb(50, 0, 140);
}
.scienceT {
	background: -webkit-linear-gradient(left top, rgb(0, 200, 160), rgb(0, 200, 240));
}
.scienceS {
	border-color: rgb(0, 200, 200);
}